# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Aa]ssets/DlibFaceLandmarkDetector/
/[Aa]ssets/CVVTuberExample/
/[Aa]ssets/Plugins/
/[Aa]ssets/OpenCVForUnity/
/[Aa]ssets/StreamingAssets/
/[Aa]ssets/Nuget/
/[Aa]ssets/Packages/
/[Aa]ssets/models
/[Aa]ssets/Animators
/[Aa]ssets/Animations
/[Aa]ssets/UniGLTF
/[Aa]ssets/VRM10
/[Aa]ssets/VRMShaders
/[Aa]ssets/Saira-font
/[Aa]ssets/Saira-font.meta
/[Aa]ssets/Animations.meta
/[Aa]ssets/Animators.meta
/[Aa]ssets/Models.meta
/[Aa]ssets/UniGLTF.meta
/[Aa]ssets/VRM10.meta
/[Aa]ssets/VRMShaders.meta
/[Aa]ssets/Resources/DOTweenSettings.asset
/[Aa]ssets/Resources/DOTweenSettings.asset.meta
/[Aa]ssets/TextMesh Pro
/[Aa]ssets/Unity-UI-Rounded-Corners
/[Aa]ssets/img&file
/[Aa]ssets/img&file.meta
/[Aa]ssets/Ui
/[Aa]ssets/Ui.meta
/[Aa]ssets/Scenes
/[Aa]ssets/Scenes.meta

# Assets folder meta
DlibFaceLandmarkDetector.meta
CVVTuberExample.meta
OpenCVForUnity.meta
StreamingAssets.meta
Plugins.meta
NuGet.meta
Nuget.config
NuGet.config.meta
packages.config
packages.meta
packages.config.meta
TextMesh Pro.meta
Unity-UI-Rounded-Corners.meta


# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
/[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Rider cache directory
.idea/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.csproj.DotSettings

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta


# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
